# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\prahalad\UpGrad\proman\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
